cervejeira_nodered_SIMULACAO.json
[
  {
    "id": "tab_sim",
    "type": "tab",
    "label": "Cervejeira (Simulacao)",
    "disabled": false,
    "info": ""
  },
  {
    "id": "help",
    "type": "comment",
    "z": "tab_sim",
    "name": "LEIA: plug-and-play (simulacao + Arduino real)",
    "info": "### PLUG-AND-PLAY (zero ajuste manual)\n\nSem Arduino: roda em SIMULACAO automaticamente.\nCom Arduino: basta CONECTAR o cabo USB.\n\n- A porta COM e detectada sozinha (no \"Detectar porta Arduino\", a cada 8s).\n- Quando chega dado real, o SIMULADOR RECUA sozinho (auto-switch).\n- Desconectou? A simulacao volta em ~5s.\n\nNao precisa habilitar/desabilitar nenhum no, nem digitar a porta COM.\n(Requer o pacote node-red-node-serialport instalado.)\n\nO simulador emite EXATAMENTE o mesmo JSON do Arduino e usa os mesmos\ncomandos P/B, entao gauge, grafico e botoes funcionam nos dois modos.\n\nObs.: o modo \"Teste / Padrao\" e fiel ao firmware atual (65C / 2 min).\nAs receitas Pilsen/APA sao da simulacao (o firmware atual nao executa\nmostura por etapas; pode ser adicionado depois).",
    "x": 200,
    "y": 40,
    "wires": []
  },
  {
    "id": "clock",
    "type": "inject",
    "z": "tab_sim",
    "name": "Clock 1s",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "v": "tick",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "tick",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "sim_engine"
      ]
    ]
  },
  {
    "id": "sim_engine",
    "type": "function",
    "z": "tab_sim",
    "name": "Motor de Simulacao (Arduino)",
    "func": "// MOTOR DE SIMULACAO DO ARDUINO\n// Emite o MESMO objeto do Arduino (apos parse JSON):\n//   {temp, proc, rodando, bomba, aquec, dec} + extras p/ UI\n// Entradas (1 input, desambiguadas por topic/payload):\n//   msg.topic==='tick'  -> avanca a simulacao\n//   msg.payload==='P'   -> inicia/pausa processo\n//   msg.payload==='B'   -> liga/desliga bomba (so parado)\n//   payload === chave de receita -> troca receita\n//\n// AUTO-SWITCH: se o Arduino real enviou dado nos ultimos 5s, o simulador RECUA.\nif (Date.now() - (flow.get('lastReal') || 0) < 5000) return null;\n\nconst RECEITAS = {\n  teste:  { nome:'Teste / Padrao', etapas:[ {nome:'Mostura 65C', temp:65, durMin:2} ] },\n  pilsen: { nome:'Pilsen (mostura por etapas)', etapas:[\n      {nome:'Patamar proteico', temp:52, durMin:15},\n      {nome:'Sacarificacao',    temp:63, durMin:40},\n      {nome:'Mash-out',         temp:78, durMin:5} ] },\n  apa:    { nome:'American Pale Ale', etapas:[\n      {nome:'Sacarificacao', temp:67, durMin:45},\n      {nome:'Mash-out',      temp:78, durMin:8} ] }\n};\nconst AMBIENTE = 25.0;\nconst HIST = 0.5;\n\nlet s = context.get('s');\nif (!s) {\n  s = { receita:'teste', etapa:0, temp:AMBIENTE, rodando:false, bomba:false,\n        aquec:false, decSeg:0, concluido:false };\n  context.set('s', s);\n}\n\nfunction emitir() {\n  const st = context.get('s');\n  const rec = RECEITAS[st.receita] || RECEITAS.teste;\n  const et = rec.etapas[Math.min(st.etapa, rec.etapas.length-1)];\n  return { payload: {\n    // compativel com o Arduino real:\n    temp: Math.round(st.temp*10)/10,\n    proc: st.etapa+1,\n    rodando: st.rodando ? 1 : 0,\n    bomba: st.bomba ? 1 : 0,\n    aquec: st.aquec ? 1 : 0,\n    dec: Math.round(st.decSeg*1000),\n    // extras p/ a UI:\n    receita: rec.nome,\n    receitaKey: st.receita,\n    etapaNome: et.nome,\n    etapaIdx: st.etapa+1,\n    etapaTotal: rec.etapas.length,\n    setpoint: et.temp,\n    etapaDurSeg: et.durMin*60,\n    concluido: st.concluido\n  }};\n}\n\nconst topic = msg.topic;\nconst p = msg.payload;\n\n// troca de receita\nif (topic === 'receita' || (typeof p === 'string' && RECEITAS[p])) {\n  if (RECEITAS[p]) s.receita = p;\n  s.etapa = 0; s.rodando = false; s.bomba = false; s.aquec = false;\n  s.decSeg = 0; s.concluido = false; s.temp = AMBIENTE;\n  context.set('s', s);\n  return emitir();\n}\n\n// comando P (processo)\nif (p === 'P') {\n  if (!s.rodando) {\n    if (s.concluido) { s.etapa = 0; s.decSeg = 0; s.concluido = false; s.temp = AMBIENTE; }\n    s.rodando = true; s.bomba = false;\n  } else {\n    s.rodando = false;\n  }\n  context.set('s', s);\n  return emitir();\n}\n\n// comando B (bomba, so com processo parado)\nif (p === 'B') {\n  if (!s.rodando) { s.bomba = !s.bomba; context.set('s', s); }\n  return emitir();\n}\n\n// tick: avanco da simulacao\nif (topic === 'tick') {\n  const rec = RECEITAS[s.receita] || RECEITAS.teste;\n  const totalSeg = rec.etapas.reduce(function(a,e){ return a + e.durMin*60; }, 0);\n  const menorSeg = rec.etapas.reduce(function(a,e){ return Math.min(a, e.durMin*60); }, Infinity);\n  // tempo acelerado p/ visualizacao: receita inteira em ~40s,\n  // mas garantindo que ate a etapa mais curta tenha >= 6 passos (patamar visivel)\n  const passoSeg = Math.max(1, Math.min(totalSeg/40, menorSeg/6));\n\n  if (s.rodando) {\n    let et = rec.etapas[Math.min(s.etapa, rec.etapas.length-1)];\n    const durSeg = et.durMin*60;\n    s.decSeg += passoSeg;\n    if (s.decSeg >= durSeg) {\n      if (s.etapa < rec.etapas.length-1) { s.etapa++; s.decSeg = 0; }\n      else { s.decSeg = durSeg; s.rodando = false; s.concluido = true; }   // clamp + conclui\n    }\n    et = rec.etapas[Math.min(s.etapa, rec.etapas.length-1)];\n    const sp = et.temp;\n    s.bomba = false;                                   // intertravamento\n    // aproximacao exponencial: sobe e ASSENTA no setpoint (patamar limpo),\n    // independente da aceleracao do tempo\n    s.temp += (sp - s.temp) * 0.5;\n    s.aquec = (s.temp < sp - HIST);                    // LED: aquecendo enquanto abaixo do alvo\n  } else {\n    s.aquec = false;\n    if (!s.concluido) s.temp += (AMBIENTE - s.temp) * 0.03;   // esfria so se PAUSADO (concluido segura)\n  }\n  context.set('s', s);\n  return emitir();\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 120,
    "wires": [
      [
        "distribuir"
      ]
    ]
  },
  {
    "id": "serial_in",
    "type": "serial in",
    "z": "tab_sim",
    "name": "Arduino -> NR",
    "serial": "serial_cfg",
    "x": 150,
    "y": 200,
    "wires": [
      [
        "marcar_real"
      ]
    ]
  },
  {
    "id": "marcar_real",
    "type": "function",
    "z": "tab_sim",
    "name": "Marcar dado real",
    "func": "flow.set('lastReal', Date.now());\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 200,
    "wires": [
      [
        "json_parse"
      ]
    ]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "tab_sim",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 540,
    "y": 200,
    "wires": [
      [
        "distribuir"
      ]
    ]
  },
  {
    "id": "serial_out",
    "type": "serial out",
    "z": "tab_sim",
    "name": "NR -> Arduino",
    "serial": "serial_cfg",
    "x": 780,
    "y": 470,
    "wires": []
  },
  {
    "id": "inject_detect",
    "type": "inject",
    "z": "tab_sim",
    "name": "Auto-detectar Arduino",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "8",
    "crontab": "",
    "once": true,
    "onceDelay": 0.8,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 560,
    "wires": [
      [
        "detect_arduino"
      ]
    ]
  },
  {
    "id": "detect_arduino",
    "type": "function",
    "z": "tab_sim",
    "name": "Detectar porta Arduino",
    "func": "// Varre as portas seriais, acha o Arduino e configura o no serial sozinho.\n// (zero ajuste manual de porta COM)\nconst conhecidos = ['2341','2a03','1a86','0403','10c4','1b4f','03eb','1eaf']; // vendorIds comuns\nfunction pontua(p){\n  const vid  = (p.vendorId || '').toLowerCase();\n  const man  = (p.manufacturer || '').toLowerCase();\n  const path = (p.path || '');\n  if (/standard port types/.test(man)) return -1;     // porta da placa-mae\n  if (/^ACPI/i.test(p.pnpId || '')) return -1;\n  let s = 0;\n  if (conhecidos.indexOf(vid) >= 0) s += 10;\n  if (/arduino|wch|ch34|ft232|ftdi|silicon ?labs|cp210|usb.?serial|usb2\\.0-serial/.test(man)) s += 8;\n  if (/usbserial|usbmodem|ttyusb|ttyacm/i.test(path)) s += 3;\n  if (/^com\\d+$/i.test(path)) s += 1;\n  return s;\n}\nreturn serialport.SerialPort.list().then(function(ports){\n  let best = null, bestScore = 0;\n  ports.forEach(function(p){ const sc = pontua(p); if (sc > bestScore){ bestScore = sc; best = p.path; } });\n  const estado = flow.get('serialState') || '';\n  if (best){\n    const novo = 'on:' + best;\n    if (estado !== novo){                                   // so age na transicao\n      flow.set('serialState', novo);\n      node.status({ fill:'green', shape:'dot', text:'Arduino em ' + best });\n      return { payload: { serialport: best, serialbaud:'9600', databits:'8', parity:'none',\n                          stopbits:'1', dtr:'none', rts:'none', cts:'none', dsr:'none', enabled:true } };\n    }\n    return null;                                            // ja conectado nessa porta\n  }\n  if (estado !== 'off'){                                    // nenhum Arduino: fecha o serial (sem ruido)\n    flow.set('serialState','off');\n    node.status({ fill:'grey', shape:'ring', text:'Sem Arduino - simulacao' });\n    return { payload: { enabled:false } };\n  }\n  return null;\n}).catch(function(e){ node.warn('auto-detect serial: ' + e.message); return null; });",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "serialport",
        "module": "serialport"
      }
    ],
    "x": 440,
    "y": 560,
    "wires": [
      [
        "serial_ctrl"
      ]
    ]
  },
  {
    "id": "serial_ctrl",
    "type": "serial control",
    "z": "tab_sim",
    "name": "Aplicar porta detectada",
    "serial": "serial_cfg",
    "x": 700,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "distribuir",
    "type": "function",
    "z": "tab_sim",
    "name": "Distribuir estado",
    "func": "// Recebe o objeto de estado (do simulador OU do Arduino real apos parse).\n// Tolera ausencia dos campos extras (Arduino real so manda 6 campos).\nconst d = msg.payload;\nif (typeof d !== 'object' || d === null || d.temp === undefined) return null;\n\nconst setpoint = (d.setpoint !== undefined) ? d.setpoint : 65;  // fallback Arduino real\n\nflow.set('rodando', d.rodando);\nflow.set('bomba', d.bomba);\nflow.set('ultima_temp', d.temp);   // <- corrige o bug do alerta antigo\n\nconst estado = {\n  temp: d.temp,\n  setpoint: setpoint,\n  rodando: !!d.rodando,\n  bomba: !!d.bomba,\n  aquec: !!d.aquec,\n  // fallbacks p/ quando vier o Arduino real (so 6 campos, sem os extras de receita):\n  receita: d.receita || 'Arduino (firmware atual)',\n  etapaNome: d.etapaNome || (d.proc === 2 ? 'Etapa 2' : 'Mostura 65°C'),\n  etapaIdx: d.etapaIdx || (d.proc || 1),\n  etapaTotal: d.etapaTotal || 1,\n  decSeg: Math.floor((d.dec || 0) / 1000),\n  etapaDurSeg: d.etapaDurSeg || (d.proc === 1 ? 120 : 0),\n  concluido: !!d.concluido,\n  alerta: d.temp > 80\n};\n\nreturn [\n  { payload: d.temp },                                                   // 1 -> gauge\n  [ {topic:'Real', payload: d.temp}, {topic:'Alvo', payload: setpoint} ],// 2 -> chart (2 msgs)\n  { payload: estado }                                                    // 3 -> card status\n];",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 120,
    "wires": [
      [
        "gauge_temp"
      ],
      [
        "chart_temp"
      ],
      [
        "status_tmpl"
      ]
    ]
  },
  {
    "id": "gauge_temp",
    "type": "ui-gauge",
    "z": "tab_sim",
    "group": "grp_gauge",
    "name": "Temperatura",
    "order": 1,
    "width": 3,
    "height": 4,
    "gtype": "gauge-half",
    "gstyle": "needle",
    "title": "Temperatura",
    "units": "°C",
    "icon": "",
    "prefix": "",
    "suffix": "",
    "value": "payload",
    "valueType": "msg",
    "segments": [
      {
        "from": 0,
        "color": "#3B8BD4"
      },
      {
        "from": 55,
        "color": "#EF9F27"
      },
      {
        "from": 78,
        "color": "#E24B4A"
      }
    ],
    "min": 0,
    "max": 100,
    "sizeThickness": 16,
    "sizeGap": 4,
    "sizeKeyThickness": 8,
    "styleRounded": true,
    "styleGlow": false,
    "className": "",
    "x": 880,
    "y": 80,
    "wires": []
  },
  {
    "id": "status_tmpl",
    "type": "ui-template",
    "z": "tab_sim",
    "group": "grp_status",
    "name": "Card de Status",
    "order": 1,
    "width": 5,
    "height": 6,
    "head": "",
    "format": "<template>\n  <div class=\"cerv-status\">\n    <div v-if=\"s.alerta\" class=\"cerv-alerta\">⚠️ Temperatura alta: {{ s.temp.toFixed(1) }}&deg;C</div>\n    <div class=\"cerv-row\">\n      <div class=\"cerv-temp\" :style=\"{ color: tempColor }\">{{ s.temp.toFixed(1) }}<span class=\"cerv-unit\">&deg;C</span></div>\n      <div class=\"cerv-alvo\">\n        <div class=\"cerv-alvo-label\">ALVO</div>\n        <div class=\"cerv-alvo-val\">{{ s.setpoint }}&deg;C</div>\n      </div>\n    </div>\n    <div class=\"cerv-etapa\">\n      <span class=\"cerv-badge\" :class=\"s.concluido ? 'done' : (s.rodando ? 'run' : 'stop')\">\n        {{ s.concluido ? 'CONCLUIDO' : (s.rodando ? 'RODANDO' : 'PARADO') }}\n      </span>\n      <span class=\"cerv-etapa-nome\">Etapa {{ s.etapaIdx }}/{{ s.etapaTotal }} &mdash; {{ s.etapaNome }}</span>\n      <span class=\"cerv-timer\">{{ fmt(s.decSeg) }} / {{ fmt(s.etapaDurSeg) }}</span>\n    </div>\n    <div class=\"cerv-chips\">\n      <span class=\"chip\" :class=\"s.bomba ? 'on-bomba' : 'off'\">💧 Bomba: {{ s.bomba ? 'LIGADA' : 'DESLIGADA' }}</span>\n      <span class=\"chip\" :class=\"s.aquec ? 'on-aquec' : 'off'\">🔥 Aquecedor: {{ s.aquec ? 'LIGADO' : 'DESLIGADO' }}</span>\n    </div>\n    <div class=\"cerv-receita\">🍺 {{ s.receita }}</div>\n  </div>\n</template>\n<script>\nexport default {\n  data() {\n    return { s: { temp:0, setpoint:0, rodando:false, bomba:false, aquec:false,\n                  receita:'—', etapaNome:'—', etapaIdx:1, etapaTotal:1,\n                  decSeg:0, etapaDurSeg:0, concluido:false, alerta:false } }\n  },\n  computed: {\n    tempColor() {\n      const t = this.s.temp;\n      if (t >= 80) return '#ff5252';\n      if (t >= 60) return '#ffb74d';\n      return '#4fc3f7';\n    }\n  },\n  watch: {\n    msg(n) {\n      if (n && n.payload && typeof n.payload === 'object') {\n        this.s = Object.assign({}, this.s, n.payload);\n      }\n    }\n  },\n  methods: {\n    fmt(sec) {\n      sec = Math.max(0, Math.floor(sec || 0));\n      const m = Math.floor(sec / 60), x = sec % 60;\n      return (m < 10 ? '0' : '') + m + ':' + (x < 10 ? '0' : '') + x;\n    }\n  }\n}\n</script>\n<style>\n.cerv-status { padding: 6px 4px; font-family: 'Inter', system-ui, sans-serif; }\n.cerv-alerta { background:#b71c1c; color:#fff; padding:6px 10px; border-radius:8px; margin-bottom:10px; font-weight:600; text-align:center; }\n.cerv-row { display:flex; align-items:baseline; justify-content:space-between; }\n.cerv-temp { font-size:60px; font-weight:700; line-height:1; }\n.cerv-unit { font-size:26px; font-weight:500; margin-left:2px; opacity:.8; }\n.cerv-alvo { text-align:right; }\n.cerv-alvo-label { font-size:11px; letter-spacing:2px; color:#9e8a6f; }\n.cerv-alvo-val { font-size:26px; font-weight:600; color:#d39a3e; }\n.cerv-etapa { display:flex; align-items:center; gap:10px; margin-top:12px; flex-wrap:wrap; }\n.cerv-badge { padding:3px 10px; border-radius:12px; font-size:12px; font-weight:700; letter-spacing:1px; }\n.cerv-badge.run { background:#1d9e75; color:#fff; }\n.cerv-badge.stop { background:#5a5048; color:#fff; }\n.cerv-badge.done { background:#2962ff; color:#fff; }\n.cerv-etapa-nome { font-size:14px; color:#e8dcc8; }\n.cerv-timer { margin-left:auto; font-family:'JetBrains Mono', monospace; font-size:18px; color:#e8dcc8; }\n.cerv-chips { display:flex; gap:8px; margin-top:14px; flex-wrap:wrap; }\n.chip { padding:5px 12px; border-radius:14px; font-size:13px; font-weight:600; background:#2e2419; color:#9e8a6f; border:1px solid #3a2a1c; }\n.chip.on-bomba { background:#0d3a2c; color:#3ddc97; border-color:#1d9e75; }\n.chip.on-aquec { background:#3a230d; color:#ffb74d; border-color:#c8862a; }\n.cerv-receita { margin-top:14px; font-size:13px; color:#9e8a6f; }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 880,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "chart_temp",
    "type": "ui-chart",
    "z": "tab_sim",
    "group": "grp_chart",
    "name": "Curva de Mostura",
    "label": "Temperatura (°C)",
    "order": 1,
    "width": 12,
    "height": 8,
    "chartType": "line",
    "category": "topic",
    "categoryType": "msg",
    "xAxisLabel": "",
    "xAxisProperty": "",
    "xAxisPropertyType": "timestamp",
    "xAxisType": "time",
    "xAxisFormat": "",
    "xAxisFormatType": "auto",
    "xmin": "",
    "xmax": "",
    "yAxisLabel": "°C",
    "yAxisProperty": "payload",
    "yAxisPropertyType": "msg",
    "ymin": "0",
    "ymax": "100",
    "action": "append",
    "stackSeries": false,
    "pointShape": "circle",
    "pointRadius": 0,
    "showLegend": true,
    "removeOlder": 1,
    "removeOlderUnit": "3600",
    "removeOlderPoints": "600",
    "colors": [
      "#ff6e40",
      "#d39a3e",
      "#FF7F0E",
      "#2CA02C",
      "#A347E1",
      "#D62728",
      "#FF9896",
      "#9467BD",
      "#C5B0D5"
    ],
    "textColor": [
      "#cbb89a"
    ],
    "textColorDefault": false,
    "gridColor": [
      "#3a2a1c"
    ],
    "gridColorDefault": false,
    "interpolation": "linear",
    "className": "",
    "x": 880,
    "y": 200,
    "wires": []
  },
  {
    "id": "dd_receita",
    "type": "ui-dropdown",
    "z": "tab_sim",
    "group": "grp_ctrl",
    "name": "Receita",
    "label": "Receita / Modo",
    "tooltip": "Escolha a receita de cerveja",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": false,
    "multiple": false,
    "chips": false,
    "clearable": false,
    "options": [
      {
        "label": "Teste / Padrao  (65°C - 2 min)",
        "value": "teste"
      },
      {
        "label": "Pilsen  (52 -> 63 -> 78°C)",
        "value": "pilsen"
      },
      {
        "label": "American Pale Ale  (67 -> 78°C)",
        "value": "apa"
      }
    ],
    "payload": "",
    "topic": "receita",
    "topicType": "str",
    "x": 360,
    "y": 300,
    "wires": [
      [
        "sim_engine",
        "chart_clear"
      ]
    ]
  },
  {
    "id": "chart_clear",
    "type": "function",
    "z": "tab_sim",
    "name": "Limpar grafico",
    "func": "return { payload: [] };  // limpa o historico do grafico",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 340,
    "wires": [
      [
        "chart_temp"
      ]
    ]
  },
  {
    "id": "btn_processo",
    "type": "ui-button",
    "z": "tab_sim",
    "group": "grp_ctrl",
    "name": "Iniciar/Pausar",
    "label": "▶ / ⏸   Iniciar / Pausar Processo",
    "order": 2,
    "width": 4,
    "height": 1,
    "emulateClick": false,
    "tooltip": "Inicia ou pausa o processo atual",
    "color": "#ffffff",
    "bgcolor": "#1d9e75",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "P",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "#1d9e75",
    "textColor": "#ffffff",
    "iconColor": "",
    "x": 360,
    "y": 360,
    "wires": [
      [
        "sim_engine",
        "serial_out"
      ]
    ]
  },
  {
    "id": "btn_bomba",
    "type": "ui-button",
    "z": "tab_sim",
    "group": "grp_ctrl",
    "name": "Bomba",
    "label": "💧  Bomba  (liga / desliga)",
    "order": 3,
    "width": 4,
    "height": 1,
    "emulateClick": false,
    "tooltip": "So funciona com o processo parado",
    "color": "#d39a3e",
    "bgcolor": "#2e2419",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "B",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "#2e2419",
    "textColor": "#d39a3e",
    "iconColor": "",
    "x": 360,
    "y": 420,
    "wires": [
      [
        "sim_engine",
        "serial_out"
      ]
    ]
  },
  {
    "id": "serial_cfg",
    "type": "serial-port",
    "name": "Arduino",
    "serialport": "COM5",
    "serialbaud": "9600",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "10000"
  },
  {
    "id": "ui_base",
    "type": "ui-base",
    "name": "Mini Cervejeira",
    "path": "/dashboard",
    "appIcon": "",
    "includeClientData": true,
    "acceptsClientConfig": [
      "ui-notification",
      "ui-control"
    ],
    "showPathInSidebar": false,
    "headerContent": "page",
    "navigationStyle": "temporary",
    "titleBarStyle": "default"
  },
  {
    "id": "ui_theme",
    "type": "ui-theme",
    "name": "Tema Cerveja",
    "colors": {
      "surface": "#241a12",
      "primary": "#d39a3e",
      "bgPage": "#140f0a",
      "groupBg": "#241a12",
      "groupOutline": "#3a2a1c"
    },
    "sizes": {
      "density": "default",
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "10px",
      "widgetGap": "12px"
    }
  },
  {
    "id": "ui_page",
    "type": "ui-page",
    "name": "Mini Cervejeira",
    "ui": "ui_base",
    "path": "/cervejeira",
    "icon": "beer",
    "layout": "grid",
    "theme": "ui_theme",
    "breakpoints": [
      {
        "name": "Default",
        "px": 0,
        "cols": 3
      },
      {
        "name": "Tablet",
        "px": 576,
        "cols": 6
      },
      {
        "name": "Small Desktop",
        "px": 768,
        "cols": 9
      },
      {
        "name": "Desktop",
        "px": 1024,
        "cols": 12
      }
    ],
    "order": 1,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "grp_status",
    "type": "ui-group",
    "name": "Status do Processo",
    "page": "ui_page",
    "width": 5,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "grp_gauge",
    "type": "ui-group",
    "name": "Temperatura",
    "page": "ui_page",
    "width": 3,
    "height": 1,
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "grp_ctrl",
    "type": "ui-group",
    "name": "Controles & Receita",
    "page": "ui_page",
    "width": 4,
    "height": 1,
    "order": 3,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "grp_chart",
    "type": "ui-group",
    "name": "Curva de Mostura  (Alvo x Real)",
    "page": "ui_page",
    "width": 12,
    "height": 1,
    "order": 4,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  }
]